.sidebar-nav {
    margin-top: 20px;
    padding-left: 10px;
    list-style: none;
} 

.admin-panel {
    border: 1px solid #999;
    border-radius: 5px;
    position: fixed;
    left: 20px;
    bottom: 30px;
    opacity: 0.5; 
    padding: 10px;

}

.admin-panel:hover {

    opacity: 1;
}
.admin-panel a {
    display: block;
    margin: 5px 0;
}

a.edit, a.delete {
    display: none;
}