{% extends "base_generic.html" %}

{% block content %}
<h1 style="color:DodgerBlue;">This is site of Service Station</h1>

<p>Welcome to <em style="color:brown;">Service Station</em>, a very basic Django website.</p>
<!-- {% load static %}<img src="{% static 'media/images/service.jpg' %}" alt="service station" width="400" height="250"/> -->
    {% if not request.user.is_staff %}

        <h3><a href="{% url 'application_create' %}" style=" color:darkorchid;">Make an order application!</a></h3>

    {% endif %}
{% endblock %}